@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "reset.css";
@import "variables.css";

/* Screens */
@import "./screens/login.css";
@import "./screens/friends.css";

/* Components */
@import "./components/screen-header.css";
@import "./components/nav-bar.css";
@import "./components/status-bar.css";
@import "./components/user-component.css";

body {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Roboto", sans-serif;

  color: #2e363e;
}
