#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -25px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
}

.friends-screen__channel-header {
  margin-top: 15px;
  border-top: var(--main-border);
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
}
