.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component {
  justify-content: space-between;
}

.user-component__column:last-child i {
  margin-left: 10px;
}

.user-component__column:last-child:nth-child(n) {
  color: rgba(0, 0, 0, 0.3);
}

.user-component__avatar {
  margin-right: 15px;
  width: 70px;
  height: 70px;
  border-radius: 30px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
.user-component__title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 22px;
}
.user-component__title--sm {
  font-size: 19px;
}
.user-component__subtitle {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__subtitle--sm {
  font-size: 13px;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 5px;
}
